/*** GENERAL styles START ***/
.header-section {
	background-image: url("../images/banner-bg.jpg");
}

.content {
	max-width: 1200px;

	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.trends-section, .union, .shop-section, .site-footer {
	margin-top: 50px;
}

.aside-bar__section {
	margin-top: 61px;
}

.section-title {
	font-size: 20px;
}

.section-title_aside {
	font-size: 14px;
}

.section-title::after {
	margin-bottom: 28px;
}

.section-title_aside::after {
	margin-bottom: 24px;
}
/*** GENERAL styles END ***/

/*** HEADER section START ***/
.header-section__content {
	padding-top: 28px;
	padding-bottom: 145px;
}

.header-section__logo {
	width: 180px;
	height: 40px;
}

.header-section__menu-list {
	display: flex;
}

.header-section__menu-item {
	margin-left: 35px;
}

.header-section__menu-item_first {
	margin-left: 0;
}

.header-section__menu-item-link {
	font-weight: normal;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 13px;
}

.header-section__menu-item-link:hover {
	text-decoration: underline;
}

.header-section__title-wrapper {
	width: 720px;

	margin: 127px auto 0;
}

.header-section__title {
	font-size: 45px;
	line-height: 1.667;
}
/*** HEADER section END ***/

/*** TRENDS section START ***/
.trends-section {
	max-width: 1660px;
	margin-left: auto;
	margin-right: auto;
}

.trends-section__articles {
	flex-wrap: nowrap;
}

.trends-section__articles-item {
	flex-basis: calc(25% - 3px); /* (100% - 3*4px)/4 = 25% - 3px */

	margin-left: 4px;
}

.trends-section__articles-item:nth-child(4n + 1) { /* через .trends-section__articles-item_first пропадает универсальность. мы можем добавить 8 карточек, тогда придётся придавать этот класс ещё одному элементу где-то в середине (то есть отталкиваться от оформления) */
	flex-grow: 1;

	margin-left: 0px;
}

.trends-section__articles-item:nth-child(n + 5) {
	margin-top: 4px;
}

.trends-section__article {
	min-height: 320px;

	padding-left: 20px;
	padding-right: 20px;
}

.trends-section__article-substance {
	padding: 38px 31px 36px;
}

.trends-section__article-title {
	font-size: 20px;
}
/*** TRENDS section END ***/

/*** EXPANDED POSTS section START ***/ 
.posts-section__post {
	margin-top: 59px;
}

.main-bar {
	width: 790px; 
}

.expanded-article {
	display: flex;
}

.expanded-article__image-wrapper {
	width: 380px;
	height: 294px;
	margin-right: 30px;
}

.expanded-article__content {
	width: 380px;
}

.expanded-article__title {
	font-size: 20px;
}

.expanded-article__info {
	margin-top: 38px;
}

.expanded-article__text {
	margin-top: 58px;

	font-size: 15px;
	line-height: 1.467;
}

.expanded-article__text-paragraph_not-first {
	margin-top: 25px;
}
/*** EXPANDED POSTS section END ***/

/*** FOOTER section START ***/
.copyright-section {
	padding-top: 74px;
	padding-bottom: 46px;
}
/*** FOOTER section END ***/
