/*** GENERAL styles START ***/
body {
	min-width: 240px;
}

/* во всех @media (max-width: 239px) указываются фиксированные значения, как при ширине в 240px */
/* при ширине > 239px размеры зависят от viewport width */
/* расчитывается относительно макета с шириной 360px */

/* стоит ли объединить все @media (max-width: 239px) или оставить раскиданными по коду для повышения читаемости? */

.header-section {
	background-image: url("../images/banner-mobile.jpg");
}

.content {
	padding-left: 15px;
	padding-right: 15px;
}

section, .site-footer { /* или добавить общий класс .section всем section или объеденить все классы через запятую? */
  margin-top: 44px;
}

.section-title {
	font-size: 16px;
}
/*** GENERAL styles END ***/

/*** HEADER section START ***/
.header-section__content {
	padding-top: 31px;
	padding-bottom: 60.555vw; /* 218/360 = 0.60555 */
}

@media (max-width: 239px) {
	.header-section__content {
		padding-bottom: 145px; /* 0.60555*240 = 145 */
	}
}

.header-section__top {
	height: 70.833vw; /* 255/360 = 0.70833 */

	flex-direction: column-reverse;
}

@media (max-width: 239px) {
	.header-section__top {
		height: 170px; /* 0.70833*240 = 170 */
	}
}

.header-section__logo {
	width: 74.722vw; /* 269/360 = 0.74722 */
	height: 16.667vw; /* 60/360 = 0.16667 */
}

@media (max-width: 239px) {
	.header-section__logo {
		width: 179px; /* 0.74722*240 = 179 */
		height: 40px; /* 0.16667*240 = 40 */
	}
}

.header-section__menu {
	width: 23px;
	height: 20px;	

	align-self: flex-end;
	/* как добавить действие? нужно ли обернуть в ссылку? */

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center; /* нужно ли ? */
	background-image: url("../images/menu-button.png");
}

.header-section__menu-list-container_hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	
	clip: rect(1px, 1px, 1px, 1px);
}

.header-section__title-wrapper {
	margin: 12vw auto 0; /* 43/360 = 0.12 */
}

@media (max-width: 239px) {
	.header-section__title-wrapper {
		margin-top: 29px; /* 0.12*240 = 29 */
	}
}

.header-section__title {
	font-size: 7.222vw; /* 26/360 = 0.07222 */
	line-height: 1.385; /* 36/26 = 1.385 */
}

@media (max-width: 239px) {
	.header-section__title {
		font-size: 17px; 
	}
}
/*** HEADER section END ***/

/*** TRENDS section START ***/
.trends-section__articles-item:nth-child(n + 3) {
	margin-top: 3px;
}

@media (orientation: portrait) {
	.trends-section__articles-item {
		flex-basis: 100%;
	}

	.trends-section__articles-item:nth-child(2) {
		margin-top: 3px;
	}
}

@media (orientation: landscape) {
	.trends-section__articles-item {
		flex: 0 0 calc(50% - 2px); /* (100% - 3)/2 = 50% - 1.5px */
	}

	.trends-section__articles-item:nth-child(2n) {
		flex-grow: 1;

		margin-left: 3px;
	}
}

.trends-section__article {
	min-height: 231px;

	padding-left: 15px;
	padding-right: 15px;
}

.trends-section__article-substance {
	padding: 30px 22px;
}

.header-section__article-title {
	font-size: 16px;
}
/*** TRENDS section END ***/

/*** EXPANDED POSTS section START ***/
.expanded-article__text-paragraph_not-first {
	margin-top: 17px;
}
/*** EXPANDED POSTS section END ***/

/*** FOOTER section START ***/
.copyright-section {
	padding-top: 49px;
	padding-bottom: 49px;
}
/*** FOOTER section END ***/
