/*** GENERAL styles START ***/
.header-section {
	background-image: url("../images/banner-bg-tablet.jpg");
}

.content {
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 43px;
}

.trends-section, .union, .shop-section, .site-footer {
	margin-top: 64px;
}

.aside-bar__section {
	margin-top: 61px;
}

.aside-bar__section_first {
	margin-top: 0;
}

.section-title {
	font-size: 18px;
}

.section-title_aside {
	font-size: 14px;
}
/*** GENERAL styles END ***/

/*** HEADER section START ***/
.header-section__content {
	padding-bottom: 125px;
}

.header-section__logo {
	width: 157px;
	height: 40px;
}

.header-section__menu {
	width: 23px;
	height: 20px;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center; 
	background-image: url("../images/menu-button.png");
}

.header-section__menu-list-container_hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	
	clip: rect(1px, 1px, 1px, 1px);
}

.header-section__title-wrapper {
	width: 100%;
	max-width: 640px;

	margin: 104px auto 0;
}

.header-section__title {
	line-height: 1.375;
}

@media (min-width: 706px) {
	.header-section__title {
		font-size: 40px;
	}
}

@media (max-width: 705px) {
	.header-section__title {
		font-size: 5.6vw; /* (40/706)*100 (сохраниение внешнего вида текста) */
	}
}
/*** HEADER section END ***/

/*** TRENDS section START ***/
.trends-section__articles-item {
	margin-left: 3px;
}

@media (orientation: portrait) {
	.trends-section__articles-item {
		flex: 0 0 calc(50% - 2px); /* (100% - 3)/2 = 50% - 1.5px */
	}

	.trends-section__articles-item:nth-child(2n + 1) {
		flex-grow: 1;

		margin-left: 0;
	}

	.trends-section__articles-item:nth-child(n + 3) {
		margin-top: 3px;
	}
}

@media (orientation: landscape) {
	.trends-section__articles-item {
		flex: 0 0 calc(25% - 3px); /* (100% - 3*3)/4 = 25% - 2.25px */
	}

	.trends-section__articles-item:nth-child(4n + 1) {
		/* flex-grow: 1; */

		margin-left: 0;
	}

	.trends-section__articles-item:nth-child(n + 5) {
		margin-top: 3px;
	}
}

.trends-section__article {
	min-height: 247px;

	padding-left: 19px;
	padding-right: 19px;
}

.trends-section__article-substance {
	padding: 35px 30px 33px;
}

.trends-section__article-title {
	font-size: 17px;
}
/*** TRENDS section END ***/

.union {
	display: flex;
	justify-content: space-between;
}

.main-bar {
	flex: 0 1 392px;
	margin-right: 35px;
}

.aside-bar {
	flex: 0 0 271px;
}

/*** EXPANDED POSTS section START ***/
.posts-section__post {
	margin-bottom: 23px;
}

.posts-section__post_first {
	margin-top: 0;
}

.posts-section__post::before {
	content: "";

	display: block;
	width: 100%;
	height: 3px;
	margin-bottom: 31px;

	background-color: #eeeeee;
}

.posts-section__post_first::before {
	display: none;
}

.expanded-article__content {
	margin-top: 16px;
}

.expanded-article__info {
	margin-top: 39px;
	margin-bottom: 36px;
}

.expanded-article__text-paragraph_not-first {
	margin-top: 25px;
}
/*** EXPANDED POSTS section END ***

/*** FOOTER section START ***/
.copyright-section {
	padding-top: 50px;
	padding-bottom: 39px;
}
/*** FOOTER section END ***/
